<div class="container">
  <div class="row card-container">
    <div class="col-sm-6 col-md-4 col-lg-3" (click)="createNewContainer($event)">
      <div class=" card">
        <div class="card-body">
          <div class="clearfix">
            <div class="text-center" style="font-size:20px">

              <p class="mx-auto"> <span>+</span>new container</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let con of container;">
      <div class=" card">
        <div class="card-header">
          <a [routerLink]="" class="white">
            avinash patel
          </a>
          <!-- <a [routerLink]="['','edit']"> -->
          <span>
            <i class="far fa-edit card-body-right"></i>
            <i class="far fa-delete card-body-right"></i>
          </span>

          <!-- </a> -->
        </div>
        <div class="card-body">
          <div class="clearfix">
            <div class="pull-left card-body-left">
              <a href="#" class="white">
                <img src="assets/image/sketch.png" class="card-image" />
              </a>
            </div>
            <div class="pull-left card-body-right">
              <div class="card-body-content">city, state</div>
              <a [routerLink]="['/customers','orders']">View Orders</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
