<div class="customers view indent">
  <div class="container">
    <div class="row card-container">
      <div class="col-sm-6 col-md-4 col-lg-3" (click)="createNewContainer($event)">
        <div class=" card">
          <div class="card-body">
            <div class="clearfix">
              <div class="text-center" style="font-size:20px">
                <span>+</span><br>
                <p class="mx-auto"> new container</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let con of container;">
        <div class=" card">
          <div class="card-header">
            <a [routerLink]="" class="white">
              {{con.containerName}}
            </a>
            <span>
              <i class="far fa-edit card-body-right"></i>
            </span>
            <!-- </a> -->
          </div>
          <div class="card-body" (click)="AddShipment(con,$event)">
            <div class="clearfix">
              <div class="pull-left card-body-left">
                <!-- <a href="#" class="white">
                  <img src="assets/image/sketch.png" class="card-image" />
                </a> -->
              </div>
              <div class="pull-left card-body-right">
                <div class="card-body-content">
                  <span>Status:{{con.containerStatus.containerStatus}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
